AuthType Basic
AuthName "Notes"
AuthUserFile "/root/personal-notes-website/passwords"
Require valid-user

# Deny access (to all files begining with)
RedirectMatch 404 /\.git
RedirectMatch 404 /passwords
# Allowed sites: save.php, upload.php, README.md, index.php, notes.txt, notes.html, uploads/