Allow from all

Redirect 301 /login.php /index.php

<IfModule mod_xsendfile.c>
    <Files *.php>
        XSendFile On
        SetEnv MOD_X_SENDFILE_ENABLED 1
    </Files>
</IfModule>


# redirect /uploads/* to the index file
RewriteEngine On
RewriteRule ^uploads/(.*)$ index.php [L]
RewriteRule ^upload.php index.php [L]