Allow from all

<IfModule mod_xsendfile.c>
    <Files *.php>
        XSendFile On
        SetEnv MOD_X_SENDFILE_ENABLED 1
    </Files>
</IfModule>


# redirect to index, unless the file or directory exists
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]